@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
   100% { transform: translateX(-70%); } /* Only scroll half, because content is duplicated */
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

html {
  scroll-behavior: smooth;
}

#custom-cursor {
  position: fixed;
  width: 30px; /* Adjust size */
  height: 30px;
  opacity: 0.5;
  background-color: rgb(236, 235, 241); 
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
}

@keyframes blinkCaret {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.caret {
  display: inline-block;
  margin-left: 1px;
  animation: blinkCaret 1s step-start infinite;
  font-size: 60px;
}